.nav {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.nav__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.nav__item {
    font-family: "DMSans", Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 17.2px;
    color: #0f0f0f;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
}

.nav__link {
    text-decoration: none;
    color: #0f0f0f;
}

.nav__link:hover {
    text-decoration: underline;
}
